<!DOCTYPE html>
<html lang = "ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>記録フォーム画面</title>
</head>

<body>
<!-- 画面全体 -->

	<!-- 画面全体 -->
	<div>

	<!-- ヘッダー -->
	<header>
		<!-- ロゴ -->
		<h1>My Mood</h1>
		<!-- 一覧に戻る -->
		<button type="button"><span>←</span>一覧に戻る</button>
	</header>
	
	<!-- メイン -->
	<main>
		<!-- フォーム外枠 -->
		<section>
			<!-- タイトル -->
			<h2>新しい記録</h2>
			<!-- フォーム -->
			<form th:action="@{/records}"
				  th:object="${logForm}"
				  method="post">
			
				<!-- 気分 -->
				<div>
					<!-- ラベル -->
					<label>気分</label>
					<!-- 気分ボタン -->
					<div>
						<!--Moodテーブルのテータを1件ずつ取り出す-->
						<div th:each="mood : ${moods}">
							
							<label>
								<!-- 気分IDを送る -->
								<input type="radio"
									   th:field="*{moodId}"
									   th:value="${mood.id}">
									   
								<!-- 気分画像 -->
								<img th:src="@{/images/mood{id}.png(id=${mood.id})}"
									 th:alt="${mood.name}">
							</label>		 	   
						</div>
					</div>
				</div>
				<!-- ひとことメモ -->
				<div>
					<!-- ラベル -->
					<label>ひとことメモ</label>
					
					<!-- メモ -->
					<div>
						<textarea th:field="*{memo}"
								  maxlength="200"
								  placeholder="ここに入力してください"></textarea>
								  
						<!-- 文字数 -->
						<div><span>0</span> / 200</div>
					</div>
				</div>
				<!-- ボタン -->
				<div>
					<!-- キャンセル -->
					<button type="button">キャンセル</button>
					<!-- 保存 -->
					<button type="submit">保存する</button>
					
					
				</div>
			</form>
		</section>
	</main>
</body>
</html>