<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mymoodapp.mapper.LogMapper">
	
<!-- 共通のSQLテンプレート：logテーブルとmoodテーブルをJOIN -->
<resultMap id="logWithMoodResult"
type="com.example.mymoodapp.entity.Log">
<id property="id" column ="id"/>
<result property="memo" column ="memo"/>
<result property="createdAt" column ="createdAt"/>
<result property="updatedAt" column ="updatedAt"/>
<association property ="mood"
javaType="com.example.mymoodapp.entity.Mood">
<id property ="id" column="m_id"/>
<result property ="moodName" column="moodName"/>
<result property ="moodJa" column ="moodJa"/>

</association>
</resultMap>

<sql id= "selectLogWithMoodName">
SELECT
l.id,
memo,
created_at as createdAt,
updated_at as updatedAt,
m.id as m_id,
mood_name as moodName,
mood_ja as moodJa
FROM log l
JOIN mood m ON mood_id = m.id
</sql>

<!-- 全件検索 -->
<select id="selectAll" resultMap="logWithMoodResult">
<include refid = "selectLogWithMoodName"/> <!-- 共通のSQLテンプレートを呼び出し --> 

ORDER BY created_at

<choose>
<when test= "sortOrder != null and sortOrder == 'ASC'">
ASC
</when>
<when test = "sortOrder != null and sortOrder == 'DESC'">
DESC
</when>
<otherwise>
DESC
</otherwise>
</choose>
,l.id DESC
</select>

<!-- 1件検索 -->
<select id="selectById" resultMap="logWithMoodResult">
<include refid = "selectLogWithMoodName"/> <!-- 共通のSQLテンプレートを呼び出し --> 
WHERE l.id = #{id}
</select>

<!-- 登録 -->
<insert id="insert">
INSERT INTO log(mood_id, memo, created_at, updated_at)
VALUES
(#{mood.id},#{memo},CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
</insert>

<!-- 更新 -->
<update id="update">
UPDATE log SET mood_id = #{mood.id}, memo =#{memo},
updated_at = CURRENT_TIMESTAMP WHERE id = #{id}
</update>

<!-- 削除 -->
<delete id ="delete">
DELETE FROM log WHERE id = #{id}
</delete>

<!-- 日付検索 -->
<select id="selectByDate" resultMap="logWithMoodResult">
<include refid = "selectLogWithMoodName"/> <!-- 共通のSQLテンプレートを呼び出し --> 
<![CDATA[
WHERE created_at >= #{date}
AND created_at < (CAST(#{date} AS date) + INTERVAL '1 day')
ORDER BY created_at DESC, l.id DESC
]]>
</select>

<!-- 気分で絞り込み -->
<select id="selectByMoodId" resultMap="logWithMoodResult">
 <include refid = "selectLogWithMoodName"/> <!-- 共通のSQLテンプレートを呼び出し --> 
WHERE mood_id = #{moodid}
ORDER BY created_at DESC, l.id DESC
</select>

</mapper>
